<template>
  <section id="signinPage">
    <article id="main">
      <form id="loginForm" @submit.prevent="onSignin">
        <h1>Login Fysio De Rijp</h1>
        <span class="error">{{error}}</span>
        <br>
        <div class="form-group" id="emailField">
          <label for="email">Email</label>
          <input type="email" id="email" v-model="loginUser.email">
        </div>
        <div class="form-group" id="passwordField">
          <label for="password">Wachtwoord</label>
          <input type="password" id="password" v-model="loginUser.password">
        </div>
        <input class="btn-custom btn-purple" id="submitBtn" type="submit" value="Inloggen">
      </form>
    </article>
  </section>
</template>

<script>
export default {
  data () {
    return {
      loginUser: {
        email: this.$route.query.email || '',
        password: ''
      },
      error: ''
    }
  },
  computed: {
    user () {
      return this.$store.getters.user
    },
    isSignedin () {
      return this.user !== null && this.user !== undefined
    }
  },
  watch: {
    isSignedin (value) {
      if (value) {
        this.$router.push({name: 'PatientOverview'})
      }
    }
  },
  methods: {
    onSignin () {
      this.$store.dispatch('signUserIn', this.loginUser).then(response => {

      }, error => {
        this.error = error.message
      })
    }
  },
  created () {
    if (this.isSignedin) {
      this.$router.push({name: 'PatientOverview'})
    }

    $(function () {
      $(document).on('focus', 'input', function () {
        $(this).parents('.form-group').addClass('filled')
        $(this).parents('.form-group').addClass('focused')
      })

      $(document).on('blur', 'input', function () {
        var inputValue = $(this).val()
        $(this).parents('.form-group').removeClass('focused')
        if (inputValue === '') {
          $(this).removeClass('filled')
          $(this).parents('.form-group').removeClass('filled')
        } else {
          $(this).addClass('filled')
        }
      })
    })
  }
}
</script>

<style lang="scss">
#signinPage {
  #main {
  }
}

#loginForm {
  max-width: 420px;
  margin: 0 auto;
  .error {
    display: block;
    margin-bottom: 20px;
    float: left;
  }
  h1 {
    margin-bottom: 30px;
  }
  .form-group {
    display: block;
    width: 100%;
    text-align: left;
    margin: 30px 0;

    label {
      display: block;
      position: absolute;
      font-size: 18px;
      transition: transform 150ms ease-out, font-size 150ms ease-out;
    }

    input {
      display: block;
      width: 100%;
      border: none;
      border-bottom: 1px solid #D3D4D5;
      padding: 10px 0;
      font-size: 14px;
    }

    &.filled {
      label {
        transform: translateY(-125%);
        font-size: .75em;
      }
    }

    &.focused {
      input {
        border-bottom: 1px solid #5F4BB6;
      }
    }
  }

  #submitBtn {
    float: right;
  }

}
</style>
