<template>
  <section id="patientDetailPage">
    <article id="main">
      <header>
        <section id="patientDetail">
          <div class="avatar" v-bind:style="{ backgroundImage: 'url(' +  avatarUrl(patient.avatar) + ')' }"></div>
          <span>{{patient.firstname}} {{patient.lastname}}</span>
        </section>
        <router-link id="editGoalsBtn" class="btn-custom btn-purple" v-if="patient.id" :to="{name: 'PatientSettings', params: {patientId: patient.id}}">Doelstellingen bewerken</router-link>
        <router-link v-if="patient.id" tag="i" :to="{name: 'PatientSettings', params: {patientId: patient.id}}" class="material-icons">settings</router-link>
      </header><br/>
      <h2>Resultaten van week 23</h2>
      <v-data-table
        id="resultsTable"
        v-model="selected"
        :headers="headers"
        :items="items"
        select-all
        :pagination.sync="pagination"
        :rows-per-page-items="[7]"
        rows-per-page-text="Resultaten van week"
        item-key="name"
        class="theme--light"
      >
        <template slot="headers" slot-scope="props">
          <tr>
            <th
              class="text-xs-left"
              v-for="header in props.headers"
              :key="header.text"
              :class="['column sortable', pagination.descending ? 'desc' : 'asc', header.value === pagination.sortBy ? 'active' : '']"
              @click="changeSort(header.value)"
            >
              <v-icon small>arrow_upward</v-icon>
              {{ header.text }}
            </th>
          </tr>
        </template>
        <template slot="items" slot-scope="props">
          <tr :active="props.selected" @click="props.selected = !props.selected">
           <!-- <td>
              <v-checkbox
                primary
                hide-details
                :input-value="props.selected"
              ></v-checkbox>
            </td>-->
            <td class="text-xs-left">{{ props.item.date }}</td>
            <td class="text-xs-left">{{ props.item.goal }} steps</td>
            <td class="text-xs-left">{{ props.item.result }} steps</td>
            <td class="text-xs-left">{{ props.item.result - props.item.goal }} steps</td>
            <td class="text-xs-center" v-if="props.item.result >= props.item.goal"><i class="material-icons reached-done">done</i></td>
            <td class="text-xs-center" v-else><i class="material-icons reached-faild">remove</i></td>
          </tr>
        </template>
      </v-data-table>
    </article>
  </section>
</template>

<script>
export default {
  data () {
    return {
      patient_id: this.$route.params.patientId,
      pagination: {
        sortBy: 'date',
        descending: true
      },
      selected: [],
      headers: [
        { text: 'Date', value: 'date', align: 'left' },
        { text: 'Doel', value: 'goal', align: 'left' },
        { text: 'Resultaat', value: 'result', align: 'left' },
        { text: 'Marge', value: 'marge', align: 'left' },
        { text: 'Volbracht', value: 'done', align: 'left' }
      ]
    }
  },
  computed: {
    patient () {
      return this.$store.getters.patient
    },
    items () {
      return this.patient.results || []
    }
  },
  watch: {
    '$route' (to, from) {
      this.patient_id = to.params.patientId
    },
    patient_id (to, from) {
      this.loadPatientDetail()
    }
  },
  methods: {
    loadPatientDetail () {
      this.$store.dispatch('loadPatientDetail', this.patient_id)
    },
    avatarUrl (avatarUrl) {
      return avatarUrl || 'https://taconicresources.org/wp-content/uploads/2016/09/missing.jpg'
    },
    toggleAll () {
      if (this.selected.length) this.selected = []
      else this.selected = this.items.slice()
    },
    changeSort (column) {
      if (this.pagination.sortBy === column) {
        this.pagination.descending = !this.pagination.descending
      } else {
        this.pagination.sortBy = column
        this.pagination.descending = false
      }
    }
  },
  created () {
    this.loadPatientDetail()
  }
}
</script>

<style lang="scss">
@import "../../assets/css/include-media";

#patientDetailPage {
  #main {
    display: flex;
    margin: 0 auto;
    max-width: 1100px;

    h2 {
      margin: 40px 0 10px
    }
    header {
      width: 100%;
      line-height: 77px;

      @include media("<md") {
        text-align: center;
        width: auto;
        margin: 0 auto;

        a {
          margin-top: 20px;
        }
      }

      #editGoalsBtn {
        @include media("<md") {
          display: none;
        }
      }

      .material-icons {
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 26px;
        @include media(">md") {
          display: none;
        }
      }

      .avatar {
        width: 77px;
        height: 77px;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        border: 1px solid white;
        float: left;
        display: inline-block;
      }
      span {
        display: inline-block;
        float: left;
        font-weight: bold;
        font-size: 20px;
        margin-left: 20px;
      }
      #editGoalsBtn {
        float: right;
        line-height: 20px;
      }
    }

    #resultsTable {
      .material-icons.reached-done, .material-icons.reached-faild {
        border-radius: 50%;
        color: white;
        font-size: 18px;
        padding: 2px;
        font-weight: bold;
      }
      .material-icons.reached-done {
        background-color: #8BC34A;
      }
      .material-icons.reached-faild {
        background-color: #D0021B;
      }
    }
  }
}
</style>
