<template>
  <section id="newPatientPage">
    <article id="main">
      <form @submit.prevent="checkForm" novalidate="true">
        <h2>Patiënt toevoegen</h2>
        <ul class="error-list error">
          <li v-for="error in errors" :key="error">
            {{error}}
          </li>
        </ul>
        <div class="input-row">
          <label>Voornaam / achternaam *</label>
          <input type="text" class="small" placeholder="Voornaam" v-model="newPatient.firstname" :class="{empty: newPatient.firstname.length === 0}">
          <input type="text" class="small" placeholder="Achternaam" v-model="newPatient.lastname" :class="{empty: newPatient.lastname.length === 0}">
        </div>
        <div class="input-row">
          <label>Geslacht *</label>
          <span @click="newPatient.sex = 1" :class="{selected: newPatient.sex == 1}"><i class="fas fa-mars"></i> Man</span>
          <span @click="newPatient.sex = 2" :class="{selected: newPatient.sex == 2}"><i class="fas fa-venus"></i> Vrouw</span>
        </div>
        <div class="input-row">
          <label>Geboortedatum *</label>
          <input type="text" placeholder="dd-mm-yyyy" v-model="newPatient.birthdate" :class="{empty: newPatient.birthdate.length === 0}">
        </div>
        <div class="input-row">
          <label>Telefoonnummer</label>
          <input type="text" placeholder="06 12345678" v-model="newPatient.telnr" :class="{empty: newPatient.telnr.length === 0}">
        </div>
        <div class="input-row">
          <label>Gewicht (kg) / lengte (cm)</label>
          <input type="text" class="small" placeholder="80 kg" v-model="newPatient.weight" :class="{empty: newPatient.weight.length === 0}"><span class="weight-label" :class="{hidden: newPatient.weight.length === 0}">kg</span>
          <input type="text" class="small" placeholder="170 cm" v-model="newPatient.length" :class="{empty: newPatient.length.length === 0}"><span class="length-label" :class="{hidden: newPatient.length.length === 0}">cm</span>
        </div>
        <div class="input-row">
          <label>Email familielid</label>
          <input type="email" placeholder="example@gmail.com" v-model="newPatient.emailFamily" :class="{empty: newPatient.emailFamily.length === 0}">
        </div>
        <div class="input-row">
          <button type="submit" class="btn-custom btn-purple">Toevoegen</button>
          <router-link class="btn-custom btn-gray" to="/">Annuleer</router-link>
        </div>
      </form>
    </article>
  </section>
</template>

<script>

export default {
  data () {
    return {
      errors: [],
      newPatient: {
        firstname: '',
        lastname: '',
        emailFamily: '',
        birthdate: '',
        weight: '',
        length: '',
        telnr: '',
        sex: 1
      }
    }
  },
  watch: {
    'newPatient.weight' (val, valOld) {
      let weight = val.match(/\d+/)[0]
      this.newPatient.weight = weight
    },
    'newPatient.length' (val, valOld) {
      let length = val.match(/\d+/)[0]
      this.newPatient.length = length
    },
    'newPatient.birthdate' (val, valOld) {
      let isDeleting = val.length < valOld.length

      if (!isDeleting) {
        let countDash = 0
        for (let i = 0; i < val.length; ++i) {
          if (val[i] === '-') {
            countDash++
          }
        }

        if (val.slice(-1) === '-' && val.length === 2) {
          this.newPatient.birthdate = '0' + val.substr(0, val.length - 1)
        } else if (val.slice(-1) === '-' && val.length === 5) {
          let month = val.slice(-2)[0]
          this.newPatient.birthdate = val.substr(0, 3) + '0' + month + '-'
        }

        if (val.length === 2 && val.slice(-1) !== '-') {
          this.newPatient.birthdate = val + '-'
        } else if (val.length === 5 && val.slice(-1) !== '-') {
          this.newPatient.birthdate = val + '-'
        }

        if (countDash === 2) {
          if (isNaN(val.substr(0, 2))) {
            this.newPatient.birthdate = '0' + val.substr(0, val.length)
          } else if (isNaN(val.substr(3, 2))) {
            this.newPatient.birthdate = val.substr(0, 3) + '0' + val.substr(3, 1) + val.substr(4, 5)
          }
        } else if (countDash === 1) {
          if (val.length > 5) {
            this.newPatient.birthdate = val.substr(0, 5) + '-' + val.substr(5, val.length - 5)
          }
        } else if (countDash === 0 && val.length > 2) {
          this.newPatient.birthdate = val.substr(0, 2) + '-' + val.substr(2, val.length - 2)
        }
      } else {
        if (val.slice(-1) === '-') {
          this.newPatient.birthdate = val.substr(0, val.length - 1)
        }
      }
    }
  },
  methods: {
    checkForm (e) {
      this.errors = []

      if (!this.newPatient.firstname) this.errors.push('Voornaam is verplicht')
      if (!this.newPatient.lastname) this.errors.push('Achternaam is verplicht')
      if (this.newPatient.emailFamily && !this.validEmail(this.newPatient.emailFamily)) this.errors.push('Email familie lid is geen geldig email adres')
      if (!this.newPatient.birthdate) {
        this.errors.push('Geboortedatum is verplicht')
      } else if (this.newPatient.birthdate.length !== 10) {
        this.errors.push('Geboortedatum is niet geldig: dd-mm-yyyy')
      }
      if (!this.newPatient.sex) this.errors.push('Geslacht is niet geslecteerd')
      if (!this.errors.length) this.addPatient()
    },
    validEmail (email) {
      let re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      return re.test(email)
    },
    addPatient () {
      this.$store.dispatch('addPatient', this.newPatient).then(patient => {
        this.$router.push({name: 'PatientDetail', params: { patientId: patient.id }})
      }, error => {
        this.error = error.message
      })
    }
  }
}
</script>

<style lang="scss">
@import "../../assets/css/include-media";

#newPatientPage {
  #main {
    padding: 50px 35px;

    @include media("<=md") {
      padding: 20px 10px;
    }

    form {
      width: 100%;
      max-width: 560px;
      margin: 0 auto;
      text-align: left;

      h2 {
        margin-bottom: 20px;
        @include media("<sm") {
          text-align: center;
        }
      }

      .error-list {
        margin-bottom: 30px;
        li {
          margin-bottom: 5px;
        }
      }

      .input-row {
        margin-top: 20px;

        label {
          width: 176px;
          box-sizing: border-box;
          display: inline-block;
          color: #373D40;
          font-weight: normal;
          font-size: 14px;
          @include media("<sm") {
            width: 100%;
            margin-bottom: 10px;
          }
        }

        input {
          color: #373D40;
          background-color: rgba(245, 248, 249, 0.3);
          font-size: 14px;
          font-weight: normal;
          border: 1px solid #CAD7DD;
          padding: 15px;
          border-radius: 2.65px;
          margin-left: 1%;
          width: 66%;
          box-sizing: border-box;
          &::-webkit-input-placeholder {
            color: #B1BFCD;
          }
          &::-moz-placeholder {
            color: #B1BFCD;
          }
          &:-ms-input-placeholder {
            color: #B1BFCD;
          }
          &:-moz-placeholder {
            color: #B1BFCD;
          }
          &.small {
            width: 32%;
          }
          &.empty {
            background-color: #F5F8F9;
            border-color: #F5F8F9;
          }

          @include media("<sm") {
            width: 100%;
            margin: 0;
            &.small {
              width: 100%;
              margin-bottom: 10px;
            }
          }
        }

        .weight-label, .length-label {
          margin: 0;
          margin-left: - 40px;
          margin-top: 15px;
          cursor: auto;
          position: absolute;
          transition: 0.4s;
          &.hidden {
            margin-left: -130px;
            opacity: 0;
          }
        }

        .btn-custom {
          font-weight: normal;
          padding: 15px 25px;
          float: right;
          margin-top: 30px;
          margin-left: 20px;

          @include media("<sm") {
            margin: 0;
            width: calc(50% - 5px);
            &.btn-purple {
              margin-left: 10px;
            }
          }
        }

        span {
          margin-right: 50px;
          cursor: pointer;
          i {
            margin-right: 10px;
            font-size: 27px;
            text-align: center;
            line-height: 15px;
            background-color: #F5F8F9;
            padding: 15px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            color: #B1BFCD;
          }

          &.selected {
            color: #5F4BB6;
            i {
              border: 2px solid #5F4BB6;
              color: #5F4BB6;
              background-color: white;
            }
          }
        }
      }
    }
  }
}
</style>
