<template>
  <section id="patientOverviewPage">
    <article id="main">
      <router-link :to="{name: 'FysioNew'}" class="btn-custom btn-purple add-patient">Fysio toevoegen</router-link>
      <h1>Geen patiënt geselecteerd</h1>
    </article>
  </section>
</template>

<script>

</script>

<style lang="scss">
#patientOverviewPage {
  .add-patient {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
}
</style>
