<template>
  <section id="patientSettingsPage">
    <article id="main">
      <header>
        <section id="patientDetail">
          <div class="avatar" v-bind:style="{ backgroundImage: 'url(' +  avatarUrl(patient.avatar) + ')' }"></div>
          <span>{{patient.firstname}} {{patient.lastname}} <span style="font-size: 15px; font-weight: 300; float: none; margin-left: 5px;">({{patient.token}})</span></span>
        </section>
      </header>
      <h2>Patiënt doelstelling bewerken</h2>
      <form @submit.prevent="saveSettings" class="patient-settings">
        <article>
          <label>Maximale BPM</label>
          <input type="text" placeholder="bijv. 160 bpm" v-model="patient.max_bpm" :class="{empty: !patient.max_bpm || patient.max_bpm.length === 0}">
          <span class="bpm-label" :class="{hidden: !patient.max_bpm || patient.max_bpm.length === 0}">BPM</span>
        </article>
        <article>
          <label>Bewegingsdoel per dag</label>
          <input type="text" placeholder="bijv. 400 stappen" v-model="patient.goal" :class="{empty: !patient.goal || patient.goal.length === 0}">
          <span class="goal-label" :class="{hidden: !patient.goal || patient.goal.length === 0}">stappen</span>
        </article>
        <div class="input-row">
          <button type="submit" class="btn-custom btn-purple">Instellingen opslaan</button>
          <router-link class="btn-custom btn-gray" v-if="patient.id" :to="{name: 'PatientDetail', params: {patientId: patient.id}}">Annuleer</router-link><br/>
          <router-link class="settings-link" v-if="patient.id" :to="{name: 'PatientEdit', params: {patientId: patient.id}}">Algemene informatie patiënt bewerken</router-link>
        </div>
        <h2 style="">Verloop bewegingsdoelstellingen</h2>
        <canvas id="lineChart" width="400" height="150"></canvas>
      </form>
    </article>
  </section>
</template>

<script>
import Chart from 'chart.js'

export default {
  data () {
    return {
      weekdays: ['ZO', 'MA', 'DI', 'WO', 'DO', 'VR', 'ZA']
    }
  },
  computed: {
    patient () {
      return this.$store.getters.patient
    },
    results () {
      return this.patient.results.slice(0, 7).reverse()
    }
  },
  methods: {
    avatarUrl (avatarUrl) {
      return avatarUrl || 'https://taconicresources.org/wp-content/uploads/2016/09/missing.jpg'
    },
    saveSettings () {
      this.$store.dispatch('editPatient', this.patient).then(patient => {
        this.$store.dispatch('loadPatients')
        this.$router.push({name: 'PatientDetail', params: { patientId: patient.id }})
      }, error => {
        this.error = error.message
      })
    }
  },
  created () {
  },
  mounted () {
    this.$store.dispatch('loadPatientDetail', this.$route.params.patientId).then(result => {
      console.log(this.results)
      let goals = this.results.map(result => result.goal)
      let results = this.results.map(result => result.result)
      let dates = this.results.map(result => {
        let date = result.date.split('-')
        let dateO = new Date(date[0], date[1] - 1, date[2])
        return this.weekdays[dateO.getDay()]
      })
      /* eslint-disable no-new */
      new Chart('lineChart', {
        type: 'line',
        data: {
          labels: dates,
          datasets: [{
            label: 'Doelstelling',
            data: goals,
            fill: false,
            pointRadius: 5,
            pointBorderWidth: 4,
            backgroundColor: [
              '#979797'
            ],
            borderColor: [
              '#979797'
            ],
            borderWidth: 1
          }, {
            label: 'Resultaat',
            data: results,
            fill: false,
            pointRadius: 5,
            pointBorderWidth: 4,
            backgroundColor: [
              '#5F4BB6'
            ],
            borderColor: [
              '#5F4BB6'
            ],
            borderWidth: 1
          }]
        },
        options: {
          response: true,
          scales: {
            yAxes: [{
              ticks: {
                maxTicksLimit: 5,
                suggestedMin: Math.min(...goals.concat(results)) - 10,
                suggestedMax: Math.max(...goals.concat(results)) + 5
              }
            }]
          },
          elements: {
            line: {
              tension: 0
            }
          },
          hover: {
            mode: 'nearest',
            intersect: true
          },
          tooltips: {
            mode: 'index',
            intersect: false
          }
        }
      })
    }, error => {
      console.log(error)
    })
  }
}
</script>

<style lang="scss">
@import "../../assets/css/include-media";

#patientSettingsPage {
  #main {
    display: flex;
    margin: 0 auto;
    max-width: 1100px;

    @include media("<md") {
      padding: 20px 25px;
    }

    h2 {
      margin: 40px 0 20px;
    }

    header {
      width: 100%;
      line-height: 77px;

      @include media("<sm") {
        text-align: center;
        width: auto;
        margin: 0 auto;
      }

      .avatar {
        width: 77px;
        height: 77px;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        border: 1px solid white;
        float: left;
        display: inline-block;
      }
      span {
        display: inline-block;
        float: left;
        font-weight: bold;
        font-size: 20px;
        margin-left: 20px;
      }
      #editGoalsBtn {
        float: right;
        line-height: 20px;
      }
    }

    .patient-settings {

      .input-row {
        text-align: right;
        clear: both;
        display: inline-block;
        width: 100%;

        @include media("<sm") {
          text-align: left;
          margin-top: 10px;
        }

        .settings-link {
          color: #373D40;
          float: right;
          clear: both;
          @include media("<sm") {
            float: left;
            margin-top: 20px;
          }
        }

        .btn-custom {
          margin-top: 50px;
          margin-bottom: 20px;
          margin-left: 10px;
          float: right;

          @include media("<sm") {
            margin: 10px 0 0 0;
            display: block;
            width: 100%;
            text-align: center;
          }
        }
      }

      #lineChart {
      }

      article {
        width: calc(50% - 35px);
        display: inline-block;
        float: left;
        text-align: left;

        @include media("<md") {
          width: calc(50% - 5px);
        }

        &:nth-child(3) {
          margin-left: 70px;

          @include media("<md") {
            margin-left: 10px;
          }
        }

        label {
          color: #373D40;
          font-weight: 500;
          font-size: 14px;
          margin-bottom: 14px;
          display: block;
        }

        input {
          color: #373D40;
          background-color: rgba(245, 248, 249, 0.3);
          font-size: 14px;
          font-weight: normal;
          border: 1px solid #CAD7DD;
          padding: 15px;
          border-radius: 2.65px;
          box-sizing: border-box;
          width: calc(100% - 4px);

          &::-webkit-input-placeholder {
            color: #B1BFCD;
          }
          &::-moz-placeholder {
            color: #B1BFCD;
          }
          &:-ms-input-placeholder {
            color: #B1BFCD;
          }
          &:-moz-placeholder {
            color: #B1BFCD;
          }
          &.empty {
            background-color: #F5F8F9;
            border-color: #F5F8F9;
          }
        }
      }
      .bpm-label, .goal-label {
        margin: 0;
        margin-left: - 80px;
        margin-top: 15px;
        cursor: auto;
        position: absolute;
        transition: 0.4s;
        &.hidden {
          margin-left: -170px;
          opacity: 0;
        }
      }
    }
  }
}
</style>
