<template>
  <section id="patientNotFoundPage">
    <article id="main">
      <h1>De door u gezochte pagina <br/>is helaas niet gevonden.</h1><Br/>
      <router-link to="/">Terug naar homepage</router-link>
    </article>
  </section>
</template>

<script>

</script>

<style>

</style>
