<template>
    <section id="newPatientPage">
    <article id="main">
      <form @submit.prevent="addFysio" novalidate="true">
        <h2>fysiotherapeut toevoegen</h2>
        <ul class="error-list error">
          <li v-for="error in errors" :key="error">
            {{error}}
          </li>
        </ul>
        <div class="input-row">
          <label>Voornaam / achternaam *</label>
          <input type="text" class="small" placeholder="Voornaam" v-model="newFysio.firstname" :class="{empty: newFysio.firstname.length === 0}">
          <input type="text" class="small" placeholder="Achternaam" v-model="newFysio.lastname" :class="{empty: newFysio.lastname.length === 0}">
        </div>
        <div class="input-row">
          <label>Email</label>
          <input type="text" placeholder="example@gmail.com" v-model="newFysio.email" :class="{empty: newFysio.email.length === 0}">
        </div>
        <div class="input-row">
          <label>Wachtwoord</label>
          <input type="password" placeholder="*******" v-model="newFysio.password" :class="{empty: newFysio.password.length === 0}">
        </div>
        <div class="input-row">
          <button type="submit" class="btn-custom btn-purple">Toevoegen</button>
          <router-link class="btn-custom btn-gray" to="/">Annuleer</router-link>
        </div>
      </form>
    </article>
  </section>
</template>

<script>

export default {
  data () {
    return {
      errors: [],
      newFysio: {
        email: '',
        firstname: '',
        lastname: '',
        password: '',
        c_password: ''
      }
    }
  },
  watch: {
    'newFysio.password' (val) {
      this.newFysio.c_password = val
    }
  },
  methods: {
    addFysio () {
      this.$store.dispatch('addFysio', this.newFysio).then(patient => {
        this.$router.push({name: 'PatientOverview'})
      }, error => {
        this.error = error.message
      })
    }
  }
}
</script>

<style lang="scss">
@import "../../assets/css/include-media";

#newPatientPage {
  #main {
    padding: 50px 35px;

    @include media("<=md") {
      padding: 20px 10px;
    }

    form {
      width: 100%;
      max-width: 560px;
      margin: 0 auto;
      text-align: left;

      h2 {
        margin-bottom: 20px;
        @include media("<sm") {
          text-align: center;
        }
      }

      .error-list {
        margin-bottom: 30px;
        li {
          margin-bottom: 5px;
        }
      }

      .input-row {
        margin-top: 20px;

        label {
          width: 176px;
          box-sizing: border-box;
          display: inline-block;
          color: #373D40;
          font-weight: normal;
          font-size: 14px;
          @include media("<sm") {
            width: 100%;
            margin-bottom: 10px;
          }
        }

        input {
          color: #373D40;
          background-color: rgba(245, 248, 249, 0.3);
          font-size: 14px;
          font-weight: normal;
          border: 1px solid #CAD7DD;
          padding: 15px;
          border-radius: 2.65px;
          margin-left: 1%;
          width: 66%;
          box-sizing: border-box;
          &::-webkit-input-placeholder {
            color: #B1BFCD;
          }
          &::-moz-placeholder {
            color: #B1BFCD;
          }
          &:-ms-input-placeholder {
            color: #B1BFCD;
          }
          &:-moz-placeholder {
            color: #B1BFCD;
          }
          &.small {
            width: 32%;
          }
          &.empty {
            background-color: #F5F8F9;
            border-color: #F5F8F9;
          }

          @include media("<sm") {
            width: 100%;
            margin: 0;
            &.small {
              width: 100%;
              margin-bottom: 10px;
            }
          }
        }

        .weight-label, .length-label {
          margin: 0;
          margin-left: - 40px;
          margin-top: 15px;
          cursor: auto;
          position: absolute;
          transition: 0.4s;
          &.hidden {
            margin-left: -130px;
            opacity: 0;
          }
        }

        .btn-custom {
          font-weight: normal;
          padding: 15px 25px;
          float: right;
          margin-top: 30px;
          margin-left: 20px;

          @include media("<sm") {
            margin: 0;
            width: calc(50% - 5px);
            &.btn-purple {
              margin-left: 10px;
            }
          }
        }

        span {
          margin-right: 50px;
          cursor: pointer;
          i {
            margin-right: 10px;
            font-size: 27px;
            text-align: center;
            line-height: 15px;
            background-color: #F5F8F9;
            padding: 15px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            color: #B1BFCD;
          }

          &.selected {
            color: #5F4BB6;
            i {
              border: 2px solid #5F4BB6;
              color: #5F4BB6;
              background-color: white;
            }
          }
        }
      }
    }
  }
}
</style>
