<template>
  <section id="app" :class="{'sidebar-open': menuActive}">
    <div class="menuIcon" :class="{'active': menuActive}" @click="menuActive = !menuActive">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <article id="sidebar" >
      <router-link tag="h3" class="logo-text" to="/">Fysio app</router-link>
      <div v-if="isSignedin">
        <div id="userDetail">
          <div class="avatar" v-bind:style="{ backgroundImage: 'url(' + user.avatar + ')' }"></div>
          <section>
            <span>{{user.firstname}} {{user.lastname}}</span>
            <a @click="onLogout()">Uitloggen</a>
          </section>
        </div>

        <article id="patientList">
          <h4>Uw patiënten</h4>
          <input type="text" placeholder="Zoek een patiënt" id="searchBox" v-model="search">
          <ul>
            <router-link tag="li" v-for="patient in filteredPatients" :key="patient.id" :to="{ name: 'PatientDetail', params: { patientId: patient.id }}">
              <div class="avatar" v-bind:style="{ backgroundImage: 'url(' + avatarUrl(patient.avatar) + ')' }"></div>
              {{patient.firstname}} {{patient.lastname}}
            </router-link>
          </ul>
          <router-link class="btn-custom btn-purple add-patient-btn" :to="{name: 'PatientNew'}">Patiënt toevoegen</router-link>
        </article>
      </div>
      <div v-else>
      </div>
    </article>
    <router-view/>
  </section>
</template>

<script>
export default {
  data () {
    return {
      menuActive: false,
      search: ''
    }
  },
  computed: {
    user () {
      return this.$store.getters.user
    },
    isSignedin () {
      return this.user !== null && this.user !== undefined
    },
    patients () {
      return this.$store.getters.patients
    },
    filteredPatients () {
      return this.patients.filter(patient => {
        return patient.firstname.toLowerCase().includes(this.search.toLowerCase()) ||
                patient.lastname.toLowerCase().includes(this.search.toLowerCase())
      })
    }
  },
  watch: {
    '$route' (to, from) {
      this.menuActive = false
    },
    isSignedin (val) {
      if (val) {
        this.$store.dispatch('loadPatients')
      } else {
        this.$router.push('/login')
      }
    }
  },
  methods: {
    onLogout () {
      this.$store.dispatch('logout')
    },
    avatarUrl (avatarUrl) {
      return avatarUrl || 'https://taconicresources.org/wp-content/uploads/2016/09/missing.jpg'
    }
  },
  created () {
    if (this.isSignedin) {
      this.$store.dispatch('loadPatients')
    }
  }
}
</script>

<style lang="scss">
  @import "./assets/css/css-reset";
  @import "./assets/css/include-media";
  @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

  #app {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #4E5357;
    font-weight: lighter;
  }

  .menuIcon {
    position: fixed;
    top: 0;
    z-index: 100;
    left: 0;
    color: #fff;
    font-size: 30px;
    background-color: RGBA(31, 36, 40, 1.00);
    padding: 15px;
    box-sizing: border-box;
    width: 60px;
    height: 60px;

    @include media(">md") {
      display: none;
    }

    span {
      transition: .4s;
      width: 30px;
      height: 2px;
      background-color: #fff;
      display: block;
      margin-top: 6px;
    }
    &.active {
      span {
        &:first-child {
          transform: rotate(-45deg) translateY(4px) translateX(-10px);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          transform: rotate(45deg) translateX(-8px);
        }
      }
    }
  }

  @include media("<=md") {
    #app.sidebar-open {
      #sidebar {
        left: 0;
        width: 100%;
      }
    }
  }

  #app > section {
    display: table;
    position: absolute;
    height: 100%;
    width: calc(100% - 330px);
    right: 0;
    @include media("<=md") {
     width: calc(100%);
    }
  }

  #sidebar {
    transition-property: left, width;
    transition-duration: 0.6s;
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 0 40px;
    box-sizing: border-box;
    width: 330px;
    max-width: 500px;
    overflow-x: hidden;
    background-color: RGBA(31, 36, 40, 1.00);

    #searchBox {
      padding: 10px 0 10px 20px;
      margin: 10px 0;
      width: 100%;
      border-bottom: 1px solid #616161;
    }

    #patientList {
      margin-top: 50px;
      text-align: left;
      color: #A7A9AB;
      h4 {
        font-size: 12;
        font-weight: regular;
      }

      .add-patient-btn {
        margin-top: 15px;
        display: inline-block;
        width: 100%;
        text-align: center;
      }

      ul {
        max-height: calc(100vh - 400px);
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 5px;
        border-sizing: border-box;
        width: 100%;

        @include media("<=md") {
          max-height: calc(100vh - 325px);
        }

        &::-webkit-scrollbar {
            width: 4px;
        }

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            -webkit-border-radius: 10px;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            -webkit-border-radius: 10px;
            border-radius: 10px;
            background: #9E9E9E;
            border-radius: 0;
        }

        &::-webkit-scrollbar-thumb:window-inactive {
          background: #9E9E9E;
        }

        li {
          box-sizing: border-box;
          display: block;
          float: left;
          padding: 10px;
          line-height: 32px;
          cursor: pointer;
          text-decoration: none;
          color: white;
          width: 100%;

          &:hover {
            background-color: rgba(216, 216, 216, 0.05);
          }

          &.router-link-active {
            background-color: rgba(216, 216, 216, 0.1);
          }

          .avatar {
            width: 32px;
            height: 32px;
            background-size: cover;
            background-position: center;
            border-radius: 50%;
            border: 1px solid white;
            float: left;
            margin-right: 15px;
          }
        }
      }
    }

    @include media("<=md") {
      left: -330px;
      overflow: hidden;
      padding: 0 20px;

      #patientList {
        margin-top: 20px;
      }
    }
  }

  #main {
    margin-left: 330px;
    padding: 50px 70px;
    display: table-cell;
    vertical-align: middle;
    flex-direction: column;
    width: calc(100vw - 330px);

    @include media("<=md") {
      margin-left: 0;
      width: 100vw;
      padding: 20px 10px;
    }
  }

  h1 {
    font-size: 48px;
    font-weight: lighter;
  }

  .btn-custom {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 15px 20px;
    border: none;
    border-radius: 2.65px;
    cursor: pointer;
    text-decoration: none;
    &.btn-purple {
      background-color: #5F4BB6;
      color: white;
    }
    &.btn-gray {
      background-color: #F5F8F9;
      color: #373D40;
    }
  }

  .logo-text {
    font-size: 26px;
    margin: 55px auto 60px auto;
    cursor: pointer;

    @include media("<=md") {
      margin: 35px auto 40px auto;
    }
  }

  #userDetail {
    display: inline-block;
    width: 100%;
    .avatar {
      width: 48px;
      height: 48px;
      background-size: cover;
      background-position: center;
      border-radius: 50%;
      border: 1px solid white;
      float: left;
    }

    section {
      float: right;
      width: calc(100% - 60px);
      text-align: left;
      span {
        font-size: 16px;
        color: white;
        font-weight: regular;
        display: block;
        margin-top: 7px;
      }
      a {
        cursor: pointer;
        font-size: 12px;
        color: white;
        display: block;
        margin-top: 7px;
      }
    }
  }

  h2 {
    color: #5F4BB6;
    font-weight: normal;
    text-align: left;
    font-size: 24px;
  }

  .purple {
    color: #5F4BB6;
  }

  .error {
    color: #ff5252 !important;
  }
</style>
